@*@model IEnumerable<FamilyFishMVC.Models.Product>*@
@model List<FamilyFishMVC.Models.ProductImages>
@{
    ViewBag.Title = "Index";
}

<section class="wrapper">
    <div class="inner">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div>
                        <img src="@Url.Content(item.Image)" alt="" height='270' />
                    </div>
                    <div class="content">
                        <h3>@item.Name</h3>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
