@*@model List<FamilyFishMVC.Models.ProductImages>*@
@model List<FamilyFishMVC.Models.Product>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<section class="wrapper">
    <div class="inner">
        <div class="row">
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-4">
                    <h2>
                        @Html.ActionLink("Create New", "Create", "Products")
                    </h2>
                </div>
            }
        </div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("Details", new { id = item.Id })" style = "text-decoration:none">
                        <div>
                            <img src="@Url.Content(item.GetImagePath())" alt="" height='270' />
                        </div>
                        <div class="content">
                            <h3>
                                @item.Name $@item.Price
                            </h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
