@{
    ViewBag.Title = "Home Page";
}

<br />
<!-- Banner -->
<section id="banner">
    <div class="content">
        <h1>Welcome to Family Fish Printing</h1>
        <p>You can choose one of the fun designs or<br />You can create that one of a kind shirt you dream of</p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Get Started</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item left">
            <div>
                <h3>Pride and joy</h3>
                <p>Our shirts are our pride and joy. </p>
            </div>
            <div>
                <h3>Soft and Comfy</h3>
                <p>We use only the softest shirts on the market.<br />We know that you will fall in love as soon as you slip into one of our ultra comfy tees. </p>
            </div>
        </div>
        <div class="flex-item image fit">
            <img src="~/images/familyFish.png" alt="company logo" />
        </div>
        <div class="flex-item right">
            <div>
                <h3>Killer designs</h3>
                <p>We have killer designs from our in house artists and some of the best guest designers on the internet,<br /> what more could you want?</p>
            </div>
            <div>
                <h3>Real Human touch</h3>
                <p>We have made it our priority to ensure that there is always a real person <br /> who can help you with whatever you need.</p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <h2>What is on your shirts?</h2>
        <figure>
            <blockquote>
                "“Creativity itself doesn’t care at all about results –<br />
                the only thing it craves is the process."
            </blockquote>
            <footer>
                <cite class="author">Elizabeth Gilbert</cite>
                <cite class="company">American journalist and author</cite>
            </footer>
        </figure>
    </div>
</section>
