
@{
    ViewBag.Title = "ReadyToPrint";
}
<!-- Main -->
<section class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item box">
            <div class="image fit">
                <img src="~/images/yourPhotoHere.jpg" alt="" height='270px' />
            </div>
            <div class="content">
                <h3>One Image</h3>
                <h4>$15</h4>
                <form>
                    <input type="submit" value="I want it!!!"></input>
                </form>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <a href="customShirt.html">
                    <img src="~/images/yourPhotoHere.jpg" alt="" height='270px' />
                </a>
            </div>
            <div class="content">
                <h3>Two Images</h3>
                <h4>$17</h4>
                <form>
                    <input type="submit" value="I want it!!!"></input>
                </form>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <a href="bringYourOwn.html">
                    <img src="~/images/yourPhotoHere.jpg" alt="" height='270px' />
                </a>
            </div>
            <div class="content">
                <h3>Both sides</h3>
                <h4>$20</h4>
                <form>
                    <input type="submit" value="I want it!!!"></input>
                </form>
            </div>
        </div>
    </div>
